{% extends 'base.html' %}

{% block title %}Application Submitted{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-2 mb-4">
    Jovian Careers
    </h1>

    <p>Your application for the role of <b>{{job['title']}}</b> at Jovian has been submitted!</p>
    
    <p class="fs-5 fw-bold fst-italic">Full Name</p>
    <p class="mb-2 fs-6 ms-4">{{application['full_name']}}</p>

    <p class="fs-5 fw-bold fst-italic">Email</p>
    <p class="mb-2 fs-6 ms-4">{{application['email']}}</p>

    <p class="fs-5 fw-bold fst-italic">LinkedIn URL</p>
    <p class="mb-2 fs-6 ms-4">{{application['linkedin_url']}}</p>

    <p class="fs-5 fw-bold fst-italic">Education</p>
    <p class="mb-2 fs-6 ms-4">{{application['education']}}</p>

    <p class="fs-5 fw-bold fst-italic">Work Experience</p>
    <p class="mb-2 fs-6 ms-4">{{application['work_experience']}}</p>

    <p class="fs-5 fw-bold fst-italic">Resume URL</p>
    <p class="mb-2 fs-6 ms-4">{{application['resume_url']}}</p>
</div>
{% endblock %}