{% extends 'base.html' %}

{% block title %}Jovian Carrers{% endblock %}

{% block content %}
    <img src="../static/images/do-something-great.jpg" height="400px" id="banner">

    <div class="container">
        <h1 class="text-center mt-4 mb-4">Jovian Carrers</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Quis risus sed vulputate odio. Ac tortor dignissim convallis
                    aenean et. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Tellus pellentesque
                    eu tincidunt tortor aliquam nulla. Interdum velit euismod in pellentesque massa placerat duis.
                    Felis eget nunc lobortis mattis aliquam faucibus. Accumsan lacus vel facilisis volutpat est velit
                    egestas dui id. Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Magna fermentum
                    iaculis eu non diam phasellus. Nam at lectus urna duis convallis convallis tellus id interdum. Mus
                    mauris vitae ultricies leo integer malesuada nunc. Dis parturient montes nascetur ridiculus mus
                    mauris vitae. Odio morbi quis commodo odio aenean sed adipiscing. Arcu dui vivamus arcu felis bibendum.
                    Lacus sed viverra tellus in. Mollis nunc sed id semper risus in hendrerit gravida rutrum. Sagittis id
                    consectetur purus ut faucibus pulvinar elementum integer.
                </p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <img src="../static/images/people_working.jpg" id="right-image">
            </div>
        </div>

        <h2 class="text-center mt-2 mb-4 pb-2">Open Positions</h2>
            {% for job in jobs %}
            <div class="row border-bottom">
                <div class="col-11 mb-2 mt-3">
                    <h4 class="mb-1">{{ job.get('title') }}</h4>
                    <div>Location: {{ job.get('location') }}</div>
                    <div>Salary: {{ job.get('salary') or 'Contact us'}}</div>
                </div>
                <div class="col-1 mt-3">
                    <button type="button" class="btn btn-primary" id="liveToastBtn" onclick="Toasty()">Apply</button>
                </div>
            </div>
            {% endfor %}
        <div class="text-center mt-4">
            <a href="mailto:rayovianamiltonobed@gmail.com?subject=Contact%20me" type="button" class="btn btn-secondary btn-lg">Contact us</a>
        </div>
        
        <!--Toast-->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <img src="../static/images/icon.png" class="rounded me-2" alt="logo" height="15px">
                <strong class="me-auto">Jovian</strong>
                <small>1 min ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                This is a example button
              </div>
            </div>
          </div>
    </div>

    <script>
        let option = {
            animation: true,
            delay: 3000
        }

        function Toasty()
        {
            let toastHTMLElement = document.getElementById('liveToast')

            let toastElement = new bootstrap.Toast( toastHTMLElement, option)

            toastElement.show()
        }
    </script>
{% endblock %}