<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Jovian Carrers</title>
</head>
<body>
    <div class="container">
        <h1>Jovian Carrers</h1>

        <img src="../static/images/do-something-great.jpg" height="400px" id="banner">

        <h2>About us</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Quis risus sed vulputate odio. Ac tortor dignissim convallis
            aenean et. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Tellus pellentesque
            eu tincidunt tortor aliquam nulla. Interdum velit euismod in pellentesque massa placerat duis.
            Felis eget nunc lobortis mattis aliquam faucibus. Accumsan lacus vel facilisis volutpat est velit
            egestas dui id. Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Magna fermentum
            iaculis eu non diam phasellus. Nam at lectus urna duis convallis convallis tellus id interdum. Mus
            mauris vitae ultricies leo integer malesuada nunc. Dis parturient montes nascetur ridiculus mus
            mauris vitae. Odio morbi quis commodo odio aenean sed adipiscing. Arcu dui vivamus arcu felis bibendum.
            Lacus sed viverra tellus in. Mollis nunc sed id semper risus in hendrerit gravida rutrum. Sagittis id
            consectetur purus ut faucibus pulvinar elementum integer.
        </p>

        <h2>Open Positions</h2>
        <p> TODO - Show the jobs here </p>
        <div class="button">
            <button>Contact us</button>
        </div>

        <p class="copyright"> ©copyright 2022, Jovian</p>
    </div>
</body>
</html>